.navbar-container {
    display: flex;
}

.navbar {
    gap: 5px; /* Ajoute de l'espace entre les liens */

    background-color: rgb(255, 255, 255); /* Définit le fond en blanc */
    color: rgb(0, 0, 0); /* Change la couleur du texte en noir pour un meilleur contraste */
    padding: 1px 2px; /* Ajuste le padding pour donner plus d'espace autour du texte */
    border-radius: 50px; /* Arrondit les coins pour donner l'effet pilule */
    display: flex; /* Utilise flexbox pour le positionnement des éléments */
    justify-content: center; /* Centre les éléments horizontalement */
    width: auto; /* Ajuste la largeur automatiquement en fonction du contenu */
    max-width: 80%; /* Facultatif : limite la largeur maximale */
    margin: 0 auto; /* Centre la navbar horizontalement */
}

.nav-link {
    color: rgb(0, 0, 0); /* Définit la couleur du texte en noir */
    text-decoration: none; /* Supprime le soulignement par défaut des liens */
    padding: 10px 20px; /* Ajuste le padding pour donner plus d'espace autour du texte */
    transition: background-color 0.3s, color 0.3s, border-radius 0.3s; /* Ajoute une animation */
}

.nav-link:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 10px 20px;
}

.nav-link:active,
.nav-link:focus,
.nav-link.clicked {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 10px 20px;
}

.searchbar {
    display: flex; /* Utilise flexbox pour le positionnement des éléments */
    padding: 10px 20px; /* Ajuste le padding pour donner plus d'espace autour du texte */
    border-radius: 50px; /* Arrondit les coins pour donner l'effet pilule */
    background-color: white; /* Définit le fond en blanc */
    position: absolute; /* Positionne la searchbar de manière absolue */
    left: 50%; /* Place la searchbar au milieu horizontalement */
    transform: translateX(-50%); /* Centre la searchbar */
    outline: none; /* Supprime la bordure par défaut */
    border: none; /* Supprime la bordure par défaut */
}

button {
    background-color: black; /* Définit le fond en noir */
    color: white; /* Change la couleur du texte en blanc pour un meilleur contraste */
    border-radius: 50px; /* Arrondit les coins pour donner l'effet pilule */
    padding: 10px 20px; /* Ajuste le padding pour donner plus d'espace autour du texte */
}