.page {
  padding: 20px;
}
.titre {
  text-align: center;
  justify-content: center;
  font-size: 100px;
  font-weight: bold;
  color: transparent; /* Rendre le texte transparent */
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1)); /* Dégradé pour effet glossy */
  -webkit-background-clip: text; /* Utiliser le dégradé comme couleur de texte */
  background-clip: text;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3), 0 0 10px rgba(255, 255, 255, 0.2); /* Ombres pour effet glossy */
  margin-top: -20px; /* Ajuster cette valeur pour déplacer le titre plus haut */

}
.custom-input {
  border: 2px solid #ccc; /* Bordure grise */
  padding: 10px; /* Espacement interne */
  font-size: 16px; /* Taille de la police */
  border-radius: 15px; /* Coins arrondis */
  width: 100%; /* Largeur complète */
  box-sizing: border-box; /* Inclure la bordure et le padding dans la largeur */
}

.custom-input:focus {
  outline: none; /* Supprimer le contour par défaut */
}
textarea {
  background-color: rgba(0, 0, 0, 0.1);
  width: 50%;
  border-radius: 15px;
  color: rgba(255, 255, 255, 0.8);
  color: transparent; /* Rendre le texte transparent */
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1)); /* Dégradé pour effet glossy */
  -webkit-background-clip: text; /* Utiliser le dégradé comme couleur de texte */
  background-clip: text;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3), 0 0 10px rgba(255, 255, 255, 0.2); /* Ombres pour effet glossy */

  height: 50%;
  padding: 20px;
  margin: 10px 0;
  font-size: 16px;
  border: none;
  border-radius: 4px;

  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="date"], input[type="time"] {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.drop-zone {
  width: 100%;
  height: 200px;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.send-button {
  height: 15%; /* Hauteur de l'image */
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; /* Couleur de fond */
  color: rgb(0, 0, 0); /* Couleur du texte */
  padding: 20px 20px; /* Padding pour agrandir le bouton */
  border: none; /* Supprime la bordure */
  border-radius: 10px; /* Arrondit les coins */
  font-size: 18px; /* Taille de la police */
  cursor: pointer; /* Change le curseur au survol */
  transition: background-color, 0.3s transform 0.3s; /* Transition pour l'effet de survol */
  position: absolute; /* Positionnement absolu */
  bottom: 30px; /* Distance du bas de la page */
  right: 40px; /* Distance de la droite de la page */
}

.send-button::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -160px;
  right: -5px;
  bottom: -5px;
  border: 1px solid #ffffff; /* Couleur et épaisseur du contour */
  border-radius: 15px; /* Arrondit les coins du contour */
  pointer-events: none; /* Permet de cliquer à travers le contour */
  transition: top 0.3s, left 0.3s, right 0.3s, bottom 0.3s, border-radius 0.3s; /* Transition pour l'effet de survol */
}

.send-button:hover {
  background-color: #ffffff; /* Couleur de fond au survol */
transform: scale(1.1);
}

.send-button.clicked {
  background-color: #ffffff; /* Couleur de fond au survol */
transform: scale(1.1);
}

.send-button:hover::before {
  top: 0px;
  left: -140px;
  right: 0px;
  bottom: 0px;
  border-radius: 10px;
}

.send-button .image-logo {
  position: absolute; /* L'image ne prendra plus de place dans le bouton */
  margin-right: 460px; /* Espace entre l'image et le texte */
  width: 120px; /* Largeur de l'image */
  height: 120px; /* Hauteur de l'image */
  border-radius: 10px;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}
.send-button .image-logo:hover{
  transform: scale(1.1);
}
.send-button .image-logo.clicked{
  transform: translate(50%, -100%); /* Sortir l'image du bouton */
  height: 300px;
  width: 300px;

  

}


.send-button .fleche {
  margin-left: 20px; /* Espace entre l'image et le texte */
  width: 40px; /* Largeur de l'image */
  height: 40px; /* Hauteur de l'image */
}
.send-button .button-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
    transition: font-size 0.3s ease; /* Ajoutez la transition pour la taille de la police */

  
}

.send-button .button-text .main-text {
  font-weight: bold; /* Texte en gras */
  font-size: 25px; /* Texte plus petit */
}

.send-button .button-text .sub-text {
  font-size: 17px; /* Texte plus petit */
}



.map-container {
  margin-top: 20px;
  width: 490px; /* Largeur complète */
  height: 200px; /* Hauteur fixe plus petite */
  position: absolute; /* Positionnement absolu */
  bottom: 200px; /* Distance du bas de la page */
  right: 20px; /* Distance de la droite de la page */
}

.custom-map-style {
  height: 200px; /* Hauteur fixe */
  width: 100%; /* Largeur complète */
  border-radius: 10px; /* Coins arrondis */
  overflow: hidden; /* Masquer les débordements */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre */
  
}

.custom-map-style .leaflet-container {
  height: 100%; /* Assurez-vous que la carte prend toute la hauteur du conteneur */
  width: 100%; /* Assurez-vous que la carte prend toute la largeur du conteneur */
}

