.navbar {
    background-color: rgb(40, 40, 40); /* Définit le fond en noir */
    color: white; /* Change la couleur du texte en blanc pour un meilleur contraste */
    padding: 5px 7px; /* Ajuste le padding pour donner plus d'espace autour du texte */
    border-radius: 50px; /* Arrondit les coins pour donner l'effet pilule */
    display: flex; /* Utilise flexbox pour le positionnement des éléments */
    align-items: center; /* Centre les éléments verticalement */
    width: 100wh; /* S'étend sur toute la largeur de la page */
    margin: 2px 10px; /* Ajoute un espace autour de la navbar */
}

.nav-link {
    color: white; /* Définit la couleur du texte en blanc */
    text-decoration: none; /* Supprime le soulignement par défaut des liens */
    padding: 10px 20px; /* Ajuste le padding pour donner plus d'espace autour du texte */
    transition: background-color 0.3s, color 0.3s, border-radius 0.3s; /* Ajoute une animation */
}

.nav-link:hover {
    background-color: white;
    color: black;
    border-radius: 30px;
    padding: 10px 20px;
    
}
.searchbar {
    display: flex; /* Utilise flexbox pour le positionnement des éléments */
    padding: 10px 20px; /* Ajuste le padding pour donner plus d'espace autour du texte */
    border-radius: 50px; /* Arrondit les coins pour donner l'effet pilule */
    background-color: white; /* Définit le fond en blanc */
    position: absolute; /* Positionne la searchbar de manière absolue */
    left: 50%; /* Place la searchbar au milieu horizontalement */
    transform: translateX(-50%); /* Centre la searchbar */
    outline: none; /* Supprime la bordure par défaut */
    border: none; /* Supprime la bordure par défaut */
}

button {
    background-color: black; /* Définit le fond en noir */
    color: white; /* Change la couleur du texte en blanc pour un meilleur contraste */
    border-radius: 50px; /* Arrondit les coins pour donner l'effet pilule */
    padding: 10px 20px; /* Ajuste le padding pour donner plus d'espace autour du texte */
    margin-left: 10px; /* Ajoute un espace entre le bouton et la searchbar */
    cursor: pointer; /* Change le curseur en main pour indiquer que le bouton est cliquable */
}